:root {
  --font-color: #ffffff;
  --bg-color: #333333;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--font-color);
  background-color: var(--bg-color);
  transition: background-color 0.3s ease;
}

h1 {
  font-family: "Audiowide", Arial, sans-serif;
}

button, li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  cursor: pointer;
  border: 2px solid;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

li {
  list-style-type: none;
}

/* Dark theme */
.dark-theme {
  --font-color: #333333;
  --bg-color: #ffffff;
}